*{
    margin: 0;
    padding: 0;
}
.font{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.font_2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.cabecalho{
    color: white;
}

.cabecalho:hover{
    color: #BFA9A4;
}

/* CABECALHO RESPONSIVO COM bootstrap (INICIO) */
.margem_logo{
    margin: 0% 0% 0% 3%;
}
.cor_cabecalho{
    background-color: #59381C;
}
.gap_cabecalho{
    gap: 110px;
    
}
/* CABECALHO RESPONSIVO COM bootstrap (FIM) */
main{
    overflow-x: hidden;
}
body{

    overflow-x: hidden;
}
section{
    height: 100vh;
    width: 100vw;
}

/* BOTAO SCROLL PARA O TOPO COM JS (INICIO) */

.rodape{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: #59381C;
}
#scrollTopButton{
    background-color: #735645;
    border: solid;
    border-color: #59381C;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 70px;
    height: 70px;

    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(110px);
    transition: all 0.5s ease;
}
#scrollTopButton.showBtn{
    opacity: 1;
    transform: translate(0);
}

/* BOTAO SCROLL PARA O TOPO COM JS (FIM) */

#HOME{
    background-color: #BFA9A4;
    height: 140vh;
    width: 100vw;
}

.conteudo_home{
    text-align: center;
    padding: 10% 3% 6% 5%;
}

.tam_texto_home{
    font-size: 25px;

}
    

.img_home{
    display: flex;
    justify-content: center;
    padding: 6% 0% 0% 3%;
}

#SOBRE{
    height: 140vh;
    width: 100vw;
}
.conteudo_sobre{
    text-align: center;
    padding: 15% 5% 6% 5%;
    background-color: #59381C;
    color: white;
}

.tam_texto_sobre{
    font-size: 25px;
    
}
.img_sobre{
    display: flex;
    justify-content: center;
    padding: 0% 0% 0% 0%;

}

#AREA{
    height: 220vh;
    width: 100vw;
}

.gap_cards{
    gap: 60px 0px;
}
.cor_cards{
    background-color: #59381C;
    color: white;
}
#CONTATO{
    background-color: #BFA9A4;
}