*{
    margin: 0;
    padding: 0;
}

/* FONTES (INICIO)  */
.font{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.font_2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.strong{
    color: #59381C;
}


/* FONTES (FIM)  */

.cabecalho{
    color: white;
}

.cabecalho:hover{
    color: #BFA9A4;
}

/* CABECALHO RESPONSIVO COM bootstrap (INICIO) */
.margem_logo{
    margin: 0% 0% 0% 3%;
}
.cor_cabecalho{
    background-color: #59381C;
}
.gap_cabecalho{
    gap: 110px;
    
}
/* CABECALHO RESPONSIVO COM bootstrap (FIM) */
main{
    overflow-x: hidden;
}
body{

    overflow-x: hidden;
}
section{
    height: 100vh;
    width: 100vw;
}

/* BOTAO SCROLL PARA O TOPO COM JS (INICIO) */

.rodape{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: #59381C;
}
#scrollTopButton{
    background-color: #735645;
    border: solid;
    border-color: #59381C;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 70px;
    height: 70px;

    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(110px);
    transition: all 0.5s ease;
}
#scrollTopButton.showBtn{
    opacity: 1;
    transform: translate(0);
}

/* BOTAO SCROLL PARA O TOPO COM JS (FIM) */

#HOME{
    background-color: #BFA9A4;
    height: 160vh;
    width: 100vw;
    padding: 8% 0% 0% 0%;
}

.conteudo_home{
    text-align: center;
    padding: 20% 6% 6% 5%;
}

.tam_texto_home{
    font-size: 25px;

}
    

.img_home{
    display: flex;
    justify-content: center;
    padding: 14% 4% 0% 4%;
}

#SOBRE{
    height: 140vh;
    width: 100vw;
}
.conteudo_sobre{
    text-align: center;
    padding: 15% 5% 6% 5%;
    background-color: #59381C;
    color: white;
}

.tam_texto_sobre{
    font-size: 25px;
    
}
.img_sobre{
    display: flex;
    justify-content: center;
    padding: 0% 0% 0% 0%;

}

#AREA{
    height: 205vh;
    width: 100vw;
    margin: 25% 0% 0% 0%;
}

 /* CARDS (INICIO)  */

.padding_card{
    padding: 5% 2% 0% 2%;
}
.cor_cards{
    background-color: #59381C;
    color: white;
}

.cor_botao_card{
    background-color: white;
}

.cor_modal{
    background-color: #59381C;
    color: white;
}

.accordion{
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-color: white;
    --bs-accordion-border-color: #59381C;
    --bs-accordion-active-bg: #59381C; 
    --bs-accordion-bg: #59381C;
    --bs-accordion-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

 /* CARDS (FIM) */
#CONTATO{
    background-color: #BFA9A4;
}