*{
    margin: 0;
    padding: 0;
}
.font{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.cabecalho{
    color: white;
}

.cabecalho:hover{
    color: #BFA9A4;
}

/* CABECALHO RESPONSIVO COM bootstrap */
.margem_logo{
    margin: 0% 0% 0% 3%;
}
.cor_cabecalho{
    background-color: #59381C;
}
.gap_cabecalho{
    gap: 110px;
    
}
/* CABECALHO RESPONSIVO COM bootstrap */

section{
    height: 100vh;
}

/* BOTAO SCROLL PARA O TOPO COM JS */

.rodape{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: #59381C;
}
#scrollTopButton{
    background-color: #735645;
    border: solid;
    border-color: #59381C;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 70px;
    height: 70px;

    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(110px);
    transition: all 0.5s ease;
}
#scrollTopButton.showBtn{
    opacity: 1;
    transform: translate(0);
}

/* BOTAO SCROLL PARA O TOPO COM JS */

#HOME{
    background-color: #BFA9A4;
}
#CONTATO{
    background-color: #BFA9A4;
}